alias c='clear'
alias q='exit'
alias cls='clear'
alias h='history'
alias k='clear'
alias l='less'
alias l1='ls -1'
alias md='mkdir -p'
alias q='exit'
alias rd='rmdir'
alias sl='ls'
alias tree='find . -print | sed -e '\''s;[^/]*/;|____;g;s;____|; |;g'\'''
alias vi='/usr/bin/vim'
alias v='/usr/bin/vim'

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd' # `cd` is probably faster to type though
alias -- -='cd -'

# Listing of Files
alias ld='ls -ld'          # Show info about the directory
alias lla='ls -lAF'        # Show hidden all files
alias ll='ls -lF'          # Show long file information
alias la='ls -AF'          # Show hidden files
alias lx='ls -lXB'         # Sort by extension
alias lk='ls -lSr'         # Sort by size, biggest last
alias lc='ls -ltcr'        # Sort by and show change time, most recent last
alias lu='ls -ltur'        # Sort by and show access time, most recent last
alias lt='ls -ltr'         # Sort by date, most recent last
alias lr='ls -lR' 	   # Recursive ls
alias lta='ls -ltra'       # Sort by date, most recent last with hidden files

#GIT
alias g='git'
alias ga='git add'
alias gall='git add -A'
alias gb='git branch'
alias gba='git branch -a'
alias gbt='git branch --track'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gcaa='git commit -a --amend -C HEAD'
alias gcb='git checkout -b'
alias gci='git commit --interactive'
alias gcl='git clone'
alias gcm='git commit -v -m'
alias gco='git checkout'
alias gcount='git shortlog -sn'
alias gcp='git cherry-pick'
alias gct='git checkout --track'
alias gd='git diff | /usr/bin/nano'
alias gdel='git branch -D'
alias gdv='git diff -w "$@" | vim -R -'
alias get='git'
alias gexport='git archive --format zip --output'
alias gf='git fetch --all --prune --verbose'
alias gft='git fetch --all --prune --tags --verbose'
alias gg='git log --graph --pretty=format:'\''%C(bold)%h%Creset%C(yellow)%d%Creset %s %C(yellow)%an %C(cyan)%cr%Creset'\'' --abbrev-commit --date=relative'
alias gl='git pull'
alias gll='git log --graph --pretty=oneline --abbrev-commit'
alias gm='git merge'
alias gmu='git fetch origin -v; git fetch upstream -v; git merge upstream/master'
alias gnew='git log HEAD@{1}..HEAD@{0}'
alias gp='git push'
alias gpo='git push origin'
alias gpom='git push origin master'
alias gpp='git pull && git push'
alias gpr='git pull --rebase'
alias gpu='git push --set-upstream'
alias gs='git status'
alias gsl='git shortlog -sn'
alias gss='git status -s'
alias gst='git status'
alias gsu='git submodule update --init --recursive'
alias gt='git tag'
alias gta='git tag -a'
alias gtd='git tag -d'
alias gtl='git tag -l'
alias gtls='git tag -l | sort -V'
alias gup='git fetch && git rebase'
alias gus='git reset HEAD'
alias gw='git whatchanged'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
[[ -f ~/.aliases.git ]] && source ~/.aliases.git
[[ -f ~/.aliases.docker ]] && source ~/.aliases.docker
