# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
[[ -f ~/.aliases.navigation ]] && source ~/.aliases.navigation
[[ -f ~/.aliases.git ]] && source ~/.aliases.git
[[ -f ~/.aliases.docker ]] && source ~/.aliases.docker
[[ -f ~/.aliases.vagrant ]] && source ~/.aliases.vagrant
[[ -f ~/.aliases.exercism ]] && source ~/.aliases.exercism
